@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: rgb(99, 102, 241, 15%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: rgb(99, 102, 241, 50%);
  border-radius: 5px;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@tailwind utilities;
